body {
    background-color: rgb(255, 255, 255);

}
body,
.book_cards,
.book_content
{
    box-sizing: border-box;
}

.icon {
    background-color: transparent;
    color: white;
}

.book_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    align-items: center;
}

/* .book_cards>div {
display: flex;
    flex-direction: column;
    justify-content: space-evenly;    margin: 10px;
    
    
    
} */

.book_content {
    display: flex;    
    flex-direction: column;
    margin: 5px;
    justify-content: space-evenly;
    font-size:xx-small;
    border: none;
    border-radius: 10px;
    text-align: center;
    height: 150px;
    width: 150px;
    overflow: hidden;
    background-color: #6666664f;
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.18), 0 10px 12px 0 rgba(0, 0, 0, 0.28);
}
.book_content div{
    flex: 1;
}
.book_content img{
     background-size: contain;
    
    height: 100px;
    width: 200px;
    border-radius: 10px;
}
.book_content #title{
    white-space: nowrap;
}